*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #CB1743,#F381A4,#F65D4F,#3039C5,#D6483E);
    animation:change 5s ease-in-out infinite;
    background-size: 400% 400%;
}
.animation-area{
    width: 100%;
    height: 100vh;
}
.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.box-area li{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.521);
    display: block;
    list-style: none;
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.box-area :nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area :nth-child(2){
    left: 12%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area :nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area :nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area :nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area :nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
.box-area2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.box-area2 li{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.521);
    display: block;
    list-style: none;
    animation: animate2 20s linear infinite;
    bottom: -150px;
}
.box-area2 :nth-child(1){
    left: 96%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area2 :nth-child(2){
    left: 2%;
    width: 50px;
    height: 50px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area2 :nth-child(3){
    left: 60%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area2 :nth-child(4){
    left: 28%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.animation-area h1{
    text-align: center;
    font-size: 45px;
    background: -webkit-linear-gradient(90deg,#ff00f7,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 200px;
}
@keyframes animate {
    0%{
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(180deg);
        opacity: 0;
    }
}

@keyframes animate2 {
    0%{
        transform: translateY(-800px) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0px) rotate(180deg);
        opacity: 0;
    }
}

@keyframes change{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
